<div class="jumbotron index">

    <h1 class="text-center head-line animated" id="header-title">Bio-Find</h1>

    <div class="header-text text-center">

        <h3 class="text-center header-text-one animated">Leading Tool for Students</h3>
        <h3 class="text-center header-text-two animated">Looking to learn more on Historical Figures</h3>


        <div class="form-group text-center" id="main-form">
            {{!-- <button class="btn btn-info" data-toggle="modal" data-target="#LoginModal">Login</button>
            <button class="btn btn-info" data-toggle="modal" data-target="#SignupModal">Sign Up</button> --}}
            <form action="/guest" method="GET">
            <a class="btn btn-info guest-btn text-center animated" href="/guest">Guest</a>
            </form> 
        </div>
    </div>

</div>

<div class="container about-section animated">
   <h1 id="about-header">About</h1>
   <p id="about-text">Bio-Find is one of the top leading tools for students. We meet their needs by providing a fast, efficient way to look up information on a historical figure. This eliminates the tedious and unnecessary process of navigating through the interwebs for research. This tool was created by students for students.
   </p>
   <img id="about-pic" src="https://media.giphy.com/media/tW9Wo01iwUvy8/source.gif">
</div>
<hr>

<div class="container features-section animated">
    <img id="features-pic" src="http://hyperallergic.com/wp-content/uploads/2014/09/greekvases-2-640.gif" width="500">
    <h1 id="features-header">Features</h1>
    <ul id="features-text">
        <li>Summaries come from certified research websites used by schools </li><br>
        <li>Look up videos for some visual information on historical people</li><br>
        <li>Need more info? Check out books about your selected historical person</li><br>
        <li>We also provide links to even more additional resources</li><br>
    </ul>
</div>

    

<!-- TODO: Modal for Login -->
{{!-- <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title" id="LoginModalLabel">Login Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="GET">
            <div class="form-group">
                <label for="username">Name</label>
                <input class="form-control" type="text" id="name-form-control" placeholder="John Doe"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="login-password-form-control"/>
            </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary" >Submit</button>
        </form>
      </div>
    </div>
  </div>
</div> --}}


<!-- TODO: Modal for Sign Up -->
{{!-- <div class="modal fade" id="SignupModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title" id="LoginModalLabel">Sign Up Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/signup" method="GET">
            <div class="form-group">
                <label for="username">Name</label>
                <input class="form-control" type="text" id="user-form-control" placeholder="John Doe"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="text" id="email-form-control" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="signup-password-form-control" />
            </div>
            <div class="form-group">
                <label for="password">Vertify Password</label>
                <input class="form-control" type="password" id="signup-vertify-password-form-control"/>
            </div>
            <button type="button" class="btn btn-primary" href="/signup" id="signup-button">Sign Up!</button>
        </form>
      </div>
      <div class="modal-footer">
          <div id="errors"></div>
      </div>
    </div>
  </div>
</div> --}}

<script>
    $(document).on("click","#signup-button", function(event){
        event.preventDefault();

        var name = $("#user-form-control").val().trim();
        var emails = $("#email-form-control").val();
        var password = $("#signup-password-form-control").val();
        var passwordV = $("#signup-vertify-password-form-control").val();
        
        if(password != passwordV){
            $("#errors").empty();
            var div = $("<div class='alert alert-danger'>")
            var button = $('<button type="button" class="close" data-dismiss="alert" aria-label="Close">')
                var span = $('<span aria-hidden="true">&times;</span>');
            $(button).append(span);
            var alert = $("<p><strong>Error!</strong> Passwords don't match! Please try again.</p>");
            $(div).append(button,alert)
            $("#errors").append(div)
        } else if(!validateEmail(emails)){
            $("#errors").empty();
            var div = $("<div class='alert alert-danger'>")
            var button = $('<button type="button" class="close" data-dismiss="alert" aria-label="Close">')
                var span = $('<span aria-hidden="true">&times;</span>');
            $(button).append(span);
            var alert = $("<p><strong>Error!</strong> Please enter a valid email.</p>");
            $(div).append(button,alert)
            $("#errors").append(div)
        } else if(password != passwordV && !validateEmail(emails)){
            $("#errors").empty();
            var div = $("<div class='alert alert-danger'>")
            var button = $('<button type="button" class="close" data-dismiss="alert" aria-label="Close">')
                var span = $('<span aria-hidden="true">&times;</span>');
            $(button).append(span);
            var alert = $("<p><strong>Error!</strong> Please enter a valid email and make sure passwords match.</p>");
            $(div).append(button,alert)
            $("#errors").append(div)
        } else{

            $.ajax({
                method: "GET",
                url: "/signup",
                data: {
                    name: name,
                    email: emails,
                    password: password
                }
            }).done(function(data) {
                console.log(data)
            });
        }
    })

    function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
    }

</script>