<div class="jumbotron index">
    <h2 class="text-center">Bio-Find</h2>
    <h3 class="text-center">#1 Leading Tool for Students</h3>
    <h3 class="text-center">Looking to learn more on Historical Figures</h3>

    <form>
        <div class="form-group text-center" id="main-form">
            <button class="btn btn-info">Login</button>
            <button class="btn btn-info">Sign Up</button>
            <button class="btn btn-info">Login as Guest</button>
        </div>
    </form>
</div>