<div class="jumbotron index">
    <h2 class="text-center">Bio-Find</h2>
    <h3 class="text-center">#1 Leading Tool for Students</h3>
    <h3 class="text-center">Looking to learn more on Historical Figures</h3>

    <div>
        <div class="form-group text-center" id="main-form">
            <button class="btn btn-info" data-toggle="modal" data-target="#LoginModal">Login</button>
            <button class="btn btn-info" data-toggle="modal" data-target="#SignupModal">Sign Up</button>
            <form action="/guest" post="POST">
            <a class="btn btn-info">Login as Guest</a>
            </form> 
        </div>
    </div>
    
</div>

<!-- Modal for Login -->
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title" id="LoginModalLabel">Login Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="GET">
            <div class="form-group">
                <label for="username">Name</label>
                <input class="form-control" type="text" id="name-form-control" placeholder="John Doe"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="login-password-form-control"/>
            </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal for Sign Up -->
<div class="modal fade" id="SignupModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title" id="LoginModalLabel">Sign Up Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/signup" method="GET">
            <div class="form-group">
                <label for="username">Name</label>
                <input class="form-control" type="text" id="user-form-control" placeholder="John Doe"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="text" id="email-form-control" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="signup-password-form-control" />
            </div>
            <div class="form-group">
                <label for="password">Vertify Password</label>
                <input class="form-control" type="password" id="signup-vertify-password-form-control"/>
            </div>
            <button type="button" class="btn btn-primary" href="/signup" id="signup-button">Sign Up!</button>
        </form>
      </div>
      <div class="modal-footer">
          <div id="errors"></div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).on("click","#signup-button", function(event){
        event.preventDefault();

        var name = $("#user-form-control").val().trim();
        var emails = $("#email-form-control").val();
        var password = $("#signup-password-form-control").val();
        var passwordV = $("#signup-vertify-password-form-control").val();
        
        if(password != passwordV){
            $("#errors").empty();
            var div = $("<div class='alert alert-danger'>")
            var button = $('<button type="button" class="close" data-dismiss="alert" aria-label="Close">')
                var span = $('<span aria-hidden="true">&times;</span>');
            $(button).append(span);
            var alert = $("<p><strong>Error!</strong> Passwords don't match! Please try again.</p>");
            $(div).append(button,alert)
            $("#errors").append(div)
        } else if(!validateEmail(emails)){
            $("#errors").empty();
            var div = $("<div class='alert alert-danger'>")
            var button = $('<button type="button" class="close" data-dismiss="alert" aria-label="Close">')
                var span = $('<span aria-hidden="true">&times;</span>');
            $(button).append(span);
            var alert = $("<p><strong>Error!</strong> Please enter a valid email.</p>");
            $(div).append(button,alert)
            $("#errors").append(div)
        } else if(password != passwordV && !validateEmail(emails)){
            $("#errors").empty();
            var div = $("<div class='alert alert-danger'>")
            var button = $('<button type="button" class="close" data-dismiss="alert" aria-label="Close">')
                var span = $('<span aria-hidden="true">&times;</span>');
            $(button).append(span);
            var alert = $("<p><strong>Error!</strong> Please enter a valid email and make sure passwords match.</p>");
            $(div).append(button,alert)
            $("#errors").append(div)
        } else{

            $.ajax({
                method: "GET",
                url: "/signup",
                data: {
                    name: name,
                    email: emails,
                    password: password
                }
            }).done(function(data) {
                console.log(data)
            });
        }
    })

    function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
    }

</script>