<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Bio-Find</a>
</nav>
<div class="jumbotron" id="history-background">
    <div class="container">

        <form action="/search" method="POST">
            <input type="text" name="name" placeholder="Enter a history name here" class="form-control">
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
        <h2 class="text-center">A.D. Era</h2>
        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" href="/eraone" id="button-one" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseExample">
                        1800s - 1700s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseOne">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>
                        
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-one" id="default-one">Default</a></li>
                                <li><a href="alphabetical-one" id="alphabetical-one">Alphabetical</a></li>
                                {{!-- TODO: Create a profession tab that also creates a header of the profession and group it by profession --}}
                                {{!-- <li><a href="profession-one" id="profession-one">Profession</a></li> --}}
                            </ul>
                        </div>

                        <hr>
                        <div id="time-era-one">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-two"  type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseExample">
                        1700s - 1600s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseTwo">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-two" id="default-two">Default</a></li>
                                <li><a href="alphabetical-two" id="alphabetical-two">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-two"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-three"  type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseExample">
                        1600s - 1500s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseThree">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-three" id="default-three">Default</a></li>
                                <li><a href="alphabetical-three" id="alphabetical-three">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-three"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-four"  type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseExample">
                        1500s - 1400s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseFour">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-four" id="default-four">Default</a></li>
                                <li><a href="alphabetical-four" id="alphabetical-four">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-four"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-five"  type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseExample">
                        1400s - 1300s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseFive">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-five" id="default-five">Default</a></li>
                                <li><a href="alphabetical-five" id="alphabetical-five">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-five"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-six"  type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseExample">
                        1300s - 1200s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseSix">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-six" id="default-six">Default</a></li>
                                <li><a href="alphabetical-six" id="alphabetical-six">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-six"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-seven"  type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseExample">
                        1200s - 1100s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseSeven">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-seven" id="default-seven">Default</a></li>
                                <li><a href="alphabetical-seven" id="alphabetical-seven">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-seven"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn"  id="button-eight" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseExample">
                        1100s - 1000s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseEight">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-eight" id="default-eight">Default</a></li>
                                <li><a href="alphabetical-eight" id="alphabetical-eight">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-eight"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-nine"  type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseExample">
                        1000s - 900s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseNine">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-nine" id="default-nine">Default</a></li>
                                <li><a href="alphabetical-nine" id="alphabetical-nine">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-nine"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-ten"  type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseExample">
                        900s - 800s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseTen">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-ten" id="default-ten">Default</a></li>
                                <li><a href="alphabetical-ten" id="alphabetical-ten">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-ten"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-eleven" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseExample">
                        800s - 700s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseEleven">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-eleven" id="default-eleven">Default</a></li>
                                <li><a href="alphabetical-eleven" id="alphabetical-eleven">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-eleven"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-twelve"  type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseExample">
                        700s - 600s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseTwelve">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-twelve" id="default-twelve">Default</a></li>
                                <li><a href="alphabetical-twelve" id="alphabetical-twelve">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-twelve"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-thirdteen"  type="button" data-toggle="collapse" data-target="#collapseThirdteen" aria-expanded="false" aria-controls="collapseExample">
                        600s - 500s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseThirdteen">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-thirdteen" id="default-thirdteen">Default</a></li>
                                <li><a href="alphabetical-thirdteen" id="alphabetical-thirdteen">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-thirdteen"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-fourteen"  type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseExample">
                        500s - 400s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseFourteen">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-fourteen" id="default-fourteen">Default</a></li>
                                <li><a href="alphabetical-fourteen" id="alphabetical-fourteen">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-fourteen"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-fiveteen"  type="button" data-toggle="collapse" data-target="#collapseFiveteen" aria-expanded="false" aria-controls="collapseExample">
                        400s - 300s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseFiveteen">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-fiveteen" id="default-fiveteen">Default</a></li>
                                <li><a href="alphabetical-fiveteen" id="alphabetical-fiveteen">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-fiveteen"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-sixteen"  type="button" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseExample">
                        300s - 200s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseSixteen">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-sixteen" id="default-sixteen">Default</a></li>
                                <li><a href="alphabetical-sixteen" id="alphabetical-sixteen">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-sixteen"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-seventeen" type="button" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseExample">
                        200s - 100s A.D.
                    </button>
                </p>
                <div class="collapse" id="collapseSeventeen">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-seventeen" id="default-seventeen">Default</a></li>
                                <li><a href="alphabetical-seventeen" id="alphabetical-seventeen">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-seventeen"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-eighteen" type="button" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseExample">
                        100s A.D. - 0 B.C.
                    </button>
                </p>
                <div class="collapse" id="collapseEighteen">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-eighteen" id="default-eighteen">Default</a></li>
                                <li><a href="alphabetical-eighteen" id="alphabetical-eighteen">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-eighteen"></p>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="text-center">B.C. Era</h2>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-nineteen"  type="button" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseExample">
                        0 - 100 B.C.
                    </button>
                </p>
                <div class="collapse" id="collapseNineteen">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-nineteen" id="default-nineteen">Default</a></li>
                                <li><a href="alphabetical-nineteen" id="alphabetical-nineteen">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-nineteen"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-twenty" type="button" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseExample">
                        100s - 200 B.C.
                    </button>
                </p>
                <div class="collapse" id="collapseTwenty">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-twenty" id="default-twenty">Default</a></li>
                                <li><a href="alphabetical-twenty" id="alphabetical-twenty">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-twenty"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-twentyone"  type="button" data-toggle="collapse" data-target="#collapseTwentyone" aria-expanded="false" aria-controls="collapseExample">
                        200s - 300 B.C.
                    </button>
                </p>
                <div class="collapse" id="collapseTwentyone">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-twentyone" id="default-twentyone">Default</a></li>
                                <li><a href="alphabetical-twentyone" id="alphabetical-twentyone">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-twentyone"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-twentytwo"  type="button" data-toggle="collapse" data-target="#collapseTwentytwo" aria-expanded="false" aria-controls="collapseExample">
                        300s - 400 B.C.
                    </button>
                </p>
                <div class="collapse" id="collapseTwentytwo">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-twentytwo" id="default-twentytwo">Default</a></li>
                                <li><a href="alphabetical-twentytwo" id="alphabetical-twentytwo">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-twentytwo"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-twentythree" type="button" data-toggle="collapse" data-target="#collapseTwentythree" aria-expanded="false" aria-controls="collapseExample">
                        400s - 500 B.C.
                    </button>
                </p>
                <div class="collapse" id="collapseTwentythree">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-twentythree" id="default-twentythree">Default</a></li>
                                <li><a href="alphabetical-twentythree" id="alphabetical-twentythree">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-twentythree"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-twentyfour" type="button" data-toggle="collapse" data-target="#collapseTwentyfour" aria-expanded="false" aria-controls="collapseExample">
                        500s - 600 B.C.
                    </button>
                </p>
                <div class="collapse" id="collapseTwentyfour">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-twentyfour" id="default-twentyfour">Default</a></li>
                                <li><a href="alphabetical-twentyfour" id="alphabetical-twentyfour">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-twentyfour"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-twentyfive" type="button" data-toggle="collapse" data-target="#collapseTwentyfive" aria-expanded="false" aria-controls="collapseExample">
                        600s - 700 B.C.
                    </button>
                </p>
                <div class="collapse" id="collapseTwentyfive">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-twentyfive" id="default-twentyfive">Default</a></li>
                                <li><a href="alphabetical-twentyfive" id="alphabetical-twentyfive">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-twentyfive"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-twentysix" type="button" data-toggle="collapse" data-target="#collapseTwentysix" aria-expanded="false" aria-controls="collapseExample">
                        700s - 800 B.C.
                    </button>
                </p>
                <div class="collapse" id="collapseTwentysix">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-twentysix" id="default-twentysix">Default</a></li>
                                <li><a href="alphabetical-twentysix" id="alphabetical-twentysix">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-twentysix"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-twentyseven" type="button" data-toggle="collapse" data-target="#collapseTwentyseven" aria-expanded="false" aria-controls="collapseExample">
                        800s - 900 B.C.
                    </button>
                </p>
                <div class="collapse" id="collapseTwentyseven">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-twentyseven" id="default-twentyseven">Default</a></li>
                                <li><a href="alphabetical-twentyseven" id="alphabetical-twentyseven">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-twentyseven"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-twentyeight" type="button" data-toggle="collapse" data-target="#collapseTwentyeight" aria-expanded="false" aria-controls="collapseExample">
                        900s - 1000 B.C.
                    </button>
                </p>
                <div class="collapse" id="collapseTwentyeight">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-twentyeight" id="default-twentyeight">Default</a></li>
                                <li><a href="alphabetical-twentyeight" id="alphabetical-twentyeight">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-twentyeight"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-twentynine" type="button" data-toggle="collapse" data-target="#collapseTwentynine" aria-expanded="false" aria-controls="collapseExample">
                        1000s - 1100 B.C.
                    </button>
                </p>
                <div class="collapse" id="collapseTwentynine">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-twentynine" id="default-twentynine">Default</a></li>
                                <li><a href="alphabetical-twentynine" id="alphabetical-twentynine">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-twentynine"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-primary history-btn" id="button-thirty" type="button" data-toggle="collapse" data-target="#collapseThirty" aria-expanded="false" aria-controls="collapseExample">
                        1100s - 1200 B.C.
                    </button>
                </p>
                <div class="collapse" id="collapseThirty">
                    <div class="card card-body">
                        <h2 class="text-center">Names</h2>

                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order By:
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="default-thirty" id="default-thirty">Default</a></li>
                                <li><a href="alphabetical-thirty" id="alphabetical-thirty">Alphabetical</a></li>
                            </ul>
                        </div>

                        <hr>
                        <p id="time-era-thirty"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


